<nav class="navbar navbar-expand-lg " [ngClass]="mode=='light'? 'navbar-light bg-light' : 'navbar-dark bg-dark'">
    <div class="container-fluid">
        <a class="navbar-brand " href="#">TextUtils</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse  " id="navbarNav">
            <ul class="navbar-nav ms-auto d-flex gap-4">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                
            </ul>
            <div class="form-check form-switch mt-1 ms-3">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" (change)="updateMode()" >
                <label class="form-check-label" for="flexSwitchCheckDefault" [ngClass]="mode == 'light'?'text-dark':'text-light'">Dark Mode</label>
              </div>
        </div>
    </div>
</nav>